.top-heading{
    color: rgba(255, 0, 0, 0.703);
    text-align: center;
    padding: 5px;
    margin: 24px;
}
.login-card{
    display: flex;
    justify-content:center;
    padding: 10px;
    box-shadow: -6px -10px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -6px -10px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px -10px 21px 0px rgba(0,0,0,0.75);
    background-color: rgb(173, 180, 185);
    width: 30vw;
    border-radius: 8px;
}
.user-name{
    padding:10px;
    margin:5px;
    border-radius: 5px;
    color:grey;
    text-align:center;
}

.input-data{
    padding:15px;
    background-color: white;
    margin: 5px;
    color: grey;
    border-radius:5px;
    border-width: 1px;
}

.login-button{
    width: 50%;
    background-color: orange;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    border-width:1px;
    text-align:center;
    display: flex;
    justify-content: center;
    height: 20%;
    color:white;
    height: 30%;
}
.background-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}